<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for any application (iOS 5 and later). It creates the default project structure and includes (AFNetworking).</string>
	<key>Identifier</key>
	<string>com.custom.BuildingBlocksTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>Classes/AppDelegate</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Controllers</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Models</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/Models</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Networking</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/Networking</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Services</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/Services</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Views</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/XIBs</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/XIBs</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Images</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/Images</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Vendors</key>
		<dict>
			<key>Path</key>
			<string>Vendors</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/AppDelegate</string>
		<string>Classes/Controllers</string>
		<string>Classes/Models</string>
		<string>Classes/Networking</string>
		<string>Classes/Services</string>
		<string>Classes/Views</string>
		<string>Resources/XIBs</string>
		<string>Resources/Images</string>
		<string>Vendors</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
